
<form>
  <mat-form-field appearance="fill">
    <mat-label>Nom</mat-label>
    <input
      matInput
      type="text"
      name="nom"
      placeholder="Nom"
      #nom="ngModel"
      [(ngModel)]="personne.nom"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Prénom</mat-label>
    <input
      matInput
      type="text"
      name="prenom"
      placeholder="Prénom"
      #prenom="ngModel"
      [(ngModel)]="personne.prenom"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Courriel</mat-label>
    <input
      matInput
      type="email"
      name="courriel"
      placeholder="Courriel"
      type="email"
      #courriel="ngModel"
      [(ngModel)]="personne.courriel"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Sexe</mat-label>
    <mat-select name="sexe" #sexe="ngModel" [(ngModel)]="personne.sexe">
      <mat-option value="homme">Homme</mat-option>
      <mat-option value="femme">Femme</mat-option>
      <mat-option value="autre">Autre</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Date de naissance</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      name="dateNaissance"
      #dateNaissance="ngModel"
      [(ngModel)]="personne.dateNaissance"
    />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nombre d’enfants</mat-label>
    <input
      matInput
      name="nombreEnfants"
      placeholder="Nombre d’enfants"
      type="number"
      min="0"
      #nombreEnfants="ngModel"
      [(ngModel)]="personne.nbEnfants"
    />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Soumettre</button>
</form>
